*{margin:0; padding:0; box-sizing:border-box;}
body{background:#0d0d0d; font-family:Arial; color:white; text-align:center;}

header{
    background:#000;
    padding:20px;
    border-bottom:3px solid orange;
}

header h1{font-size:28px;}

.categories{
    padding:15px;
}

.categories button{
    margin:5px;
    padding:10px 15px;
    border:none;
    border-radius:10px;
    background:orange;
    color:black;
    font-weight:bold;
    cursor:pointer;
}

.categories button:hover{background:#ffb84d;}

.products{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding:20px;
}

.card{
    background:#1a1a1a;
    padding:15px;
    margin:10px;
    border-radius:12px;
    width:180px;
    box-shadow:0 0 10px rgba(255,165,0,0.2);
}

.card img{
    width:100%;
    border-radius:10px;
    margin-bottom:10px;
}

.card h3{margin-bottom:5px;}
.card p{margin-bottom:10px;}
.card label{display:block; margin-bottom:5px;}
.card .qty{width:50px; padding:5px; border-radius:6px; border:none; margin-bottom:10px; text-align:center;}

.card button{
    background:orange;
    border:none;
    padding:8px 12px;
    border-radius:8px;
    font-weight:bold;
    cursor:pointer;
}

.card button:hover{background:#ffb84d;}